.base-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $base-dark;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-size) {
    font-size: 18px;
  }
}
