.contact__caption {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $base-dark;
}

.contact__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $base-dark;
}

.contact__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $base-red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $base-dark;
  }

  &:active {
    text-decoration: none;
    color: rgba($base-dark, 0.3);
  }
}
