.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--normal {
    @media (min-width: $tablet-size) {
      .form-fieldset__control-list {
        gap: 52px;
      }
    }
  }

  &--multicolumn {
    @media (min-width: $tablet-size) {
      border: 2px solid $base-grey;
      padding: 35px 58px 33px;

      .form-fieldset__control-list {
        gap: 35px;
      }

      .form-fieldset__legend {
        display: block;
      }
    }


    @media (min-width: $desktop-size) {
      padding: 33px 58px 19px;

      .form-fieldset__control-list {
        grid-template-columns: 1fr 1fr;
        gap: 70px;
      }
    }
  }
}


.form-fieldset__control-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

.form-fieldset__legend {
  @include form-label;
  display: none;
  text-align: center;
  padding: 0 25px;
}
