.form-checkgroup {
  border: none;
  background-color: $base-grey;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 75px;
  padding-bottom: 21px;

  @media (min-width: $tablet-size) {
    background-color: transparent;
    border: 2px solid $base-grey;
    margin-left: 0;
    margin-right: 0;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 24px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-size) {
    padding-bottom: 34px;
  }
}

.form-checkgroup__legend {
  @include form-label;
  position: relative;
  top: 56px;
  text-align: center;

  @media (min-width: $tablet-size) {
    position: static;
    padding: 0 25px;
  }
}

.form-checkgroup__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;

  @media (min-width: $desktop-size) {
    grid-template-columns: repeat(3, auto);
    row-gap: 3px;
    column-gap: 55px;
  }
}

.form-checkgroup__item {
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;


  @media (min-width: $desktop-size) {
    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &:nth-child(2) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &:nth-child(4) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &:nth-child(5) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
    }

    &:nth-child(6) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}
