.form-checkgroup {
  border: none;
  background-color: $base-grey;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-size) {
    background-color: transparent;
    border: 2px solid $base-grey;
  }
}

.form-checkgroup__legend {
  @include form-label;
}

.form-checkgroup__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-size) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-checkgroup__item {
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
}
