.form-checkbox__label {
  display: inline-flex;
  align-items: center;

  @include form-text;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid $special-grey;
    border-radius: 1px;
    margin-right: 20px;
    background-color: $base-white;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover::before {
    border: 2px solid $base-dark;
  }

  &:active::before {
    border: 2px solid $base-red;
  }
}

.form-checkbox__input:checked + .form-checkbox__label::before {
  background-image: url("../img/tick.svg");
}

.form-checkbox__input:focus + .form-checkbox__label::before {
  outline: 1px solid  $base-red;
}
