.form-term {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form-term__name {
  @include form-label;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-right: 4px;
}

.form-term__def {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $base-dark;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.form-term__detail {
  display: none;

  @media (min-width: $desktop-size) {
    display: inline;
  }
}
