.head-liner {
  min-height: 217px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $special-dark;
  background-image: url("../img/dark-city-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/dark-city-mobile@2x.png");
  }

  @media (min-width: $tablet-size) {
    min-height: 420px;
    background-position: 50% 0;
    background-image: url("../img/dark-city-tablet.png");
    background-size: 1200px 729px;
  }

  @media (min-width: $tablet-size) and (min-resolution: 2dppx) {
    background-image: url("../img/dark-city-tablet@2x.png");
  }

  @media (min-width: $desktop-size) {
    min-height: 374px;
    background-position: 50% 0;
    background-image: url("../img/dark-city-desktop.png");
    background-size: 2560px 853px;
  }

  @media (min-width: $desktop-size) and (min-resolution: 2dppx) {
    background-image: url("../img/dark-city-desktop@2x.png");
  }
}

.head-liner__wrapper {
  @include wrapper;
}

.head-liner__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $base-white;
  margin-top: 84px;

  @media (min-width: $tablet-size) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 166px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 159px;
  }
}
