.main-nav {
  background-color: rgba($base-black, 0.3);

  &--opened {
    background-color: $base-dark;

    @media (min-width: $desktop-size) {
      background-color: rgba($base-black, 0.3);
    }

    .main-nav__menu {
      display: flex;
    }

    .main-nav__icon--open {
      display: none;
    }

    .main-nav__icon--close {
      display: block;
    }
  }

  &--nojs {
    background-color: $base-dark;

    @media (min-width: $desktop-size) {
      background-color: rgba($base-black, 0.3);
    }

    .main-nav__menu {
      display: flex;
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__icon--open {
      display: none;
    }

    .main-nav__icon--close {
      display: block;
    }
  }

  &--closed {
    background-color: rgba($base-black, 0.3);

    .main-nav__menu {
      display: none;
    }

    @media (min-width: $desktop-size) {
      .main-nav__menu {
        display: flex;
      }
    }

    .main-nav__icon--open {
      display: block;
    }

    .main-nav__icon--close {
      display: none;
    }
  }
}

.main-nav__layout {
  display: grid;
  grid-template-rows: minmax($mobile-menu-height, max-content) auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo-area toggle-area" "menu-area  menu-area ";

  @media (min-width: $tablet-size) {
    grid-template-rows: minmax($tablet-menu-height, max-content) auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo-area toggle-area" "menu-area  menu-area ";
  }

  @media (min-width: $desktop-size) {
    grid-template-rows: minmax($desktop-menu-height, max-content) auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo-area menu-area";
  }
}

.main-nav__logo {
  grid-area: logo-area;
  justify-self: start;
  align-self: center;
}

.main-nav__toggle {
  grid-area: toggle-area;
  justify-self: end;
  align-self: center;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  @media (min-width: $desktop-size) {
    display: none;
  }
}

.main-nav__menu {
  grid-area: menu-area;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  justify-self: stretch;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $base-black;

  @media (min-width: $desktop-size) {
    justify-self: end;
    flex-direction: row;
    border-top: none;
    margin: 0;
  }
}

.main-nav__item {
  border-top: 1px solid rgba($base-white, 0.15);
  border-bottom: 1px solid $base-black;

  @media (min-width: $desktop-size) {
    border-top: none;
    border-bottom: none;
  }
}

.main-nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: $base-white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $base-red;
  }

  &:active {
    color: rgba($base-red, 0.3);
  }

  @media (min-width: $tablet-size) {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 2px solid transparent;
  }

  @media (min-width: $desktop-size) {
    font-weight: normal;
    text-transform: none;
    margin-left: 80px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 2px solid transparent;

    &:active {
      color: rgba($base-white, 0.3);
    }
  }

  &--selected {
    @media (min-width: $desktop-size) {
      border-bottom: 2px solid $base-white;

      &:hover {
        color: $base-white;
      }

      &:active {
        color: $base-white;
      }
    }
  }
}
