.posting {
  margin-top: 10px;

  @media (min-width: $tablet-size) {
    margin-top: 5px;
  }

  @media (min-width: $desktop-size) {
    margin-top: 18px;
  }
}

.posting__content {
  background-color: $base-grey;
  padding: 10px;
  position: relative;
}

.posting__link {
  display: block;
}

.posting__label {
  position: absolute;
  top: -160px;
  right: 0;
  padding: 14px 20px;
  margin: 0;
  background-color: $base-red;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
}

.posting__photo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.posting__user {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $base-dark;
}

.posting__datetime {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-dark;
}

.posting__message {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $base-dark;
}

.posting__like {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-red;
  margin: 0;
}
