.posting-control {
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
  padding-top: 36px;

  @media (min-width: $tablet-size) {
    padding-top: 84px;
    padding-left: 14px;
  }

  @media (min-width: $desktop-size) {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 32px;
    padding-left: 0;
    justify-content: space-between;
  }
}

.posting-control__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-size) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-size) {
    margin-right: 0;
  }
}
