.range-control {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  //-webkit-appearance: none;
  background-color: transparent;

  &::-webkit-slider-thumb {
    //-webkit-appearance: none;
    margin-top: -$thumb-size / 2;

    @include range-thumb;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }
}
