.range-control {
  display: block;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 36px;
  appearance: none;
  background-color: transparent;

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -$thumb-size / 2;

    @include range-thumb;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  @media (min-width: $tablet-size) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:active::-webkit-slider-thumb {
    background-color: $base-red;
  }

  &:active::-moz-range-thumb {
    background-color: $base-red;
  }
}
