.scroll {
  overflow-x: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 56px;

  @media (min-width: $tablet-size) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-size) {
    padding-top: 41px;
  }
}
