.social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 9px;

  @media (min-width: $desktop-size) {
    margin-right: 6px;
  }
}

.social__link {
  width: 48px;
  height: 48px;
  border: 3px solid rgba($base-dark, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 3px solid rgba($base-dark, 1);
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
}
