.tariff-table {
  overflow-x: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 56px;

  @media (min-width: $tablet-size) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-size) {
    padding-top: 41px;
  }
}

.tariff-table__plan {
  border-collapse: collapse;
  width: 300%;
  transform: translateX(calc(-100% / 3));

  @media (min-width: $tablet-size) {
    width: 100%;
    transform: none;
  }
}

.tariff-table__col-title {
  background-color: $base-dark;
  padding-top: 12px;
  padding-bottom: 32px;
  border: 1px solid $special_grey;
  position: relative;

  @media (min-width: $tablet-size) {
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-size) {
    padding-top: 16px;
    padding-bottom: 22px;
  }
}

.tariff-table__hit-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;


  @media (min-width: $tablet-size) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-size) {
    width: 74px;
    height: 74px;
  }
}

.tariff-table__corner {
  background-color: $base-grey;
  padding-top: 8px;
  display: none;

  @media (min-width: $tablet-size) {
    display: table-cell;
  }

  @media (min-width: $desktop-size) {
    padding-top: 0;
  }
}

.tariff-table__row-title {
  background-color: $base-white;
  padding-top: 8px;
  display: none;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-size) {
    padding-top: 7px;
    display: table-cell;
  }

  @media (min-width: $desktop-size) {
    padding-top: 0;
  }
}

.tariff-table__cell {
  background-color: $base-white;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $special_grey;
  width: calc(100% / 3);

  @media (min-width: $tablet-size) {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-size) {
    width: 25%;
    padding-top: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tariff-table__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-size) {
    font-size: 18px;
    line-height: 30px;
  }
}

.tariff-table__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-size) {
    font-size: 24px;
    line-height: 30px;
  }
}


.tariff-table__ability {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $base-dark;

  @media (min-width: $tablet-size) {
    text-transform: none;
    padding-left: 16px;
  }

  @media (min-width: $desktop-size) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
  }
}

.tariff-table__content {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $base-dark;

  @media (min-width: $tablet-size) {
    display: none;
  }
}

.tariff-table__option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-size) {
    justify-content: center;
  }
}

.tariff-table__toggle {
  margin-top: 32px;

  @media (min-width: $tablet-size) {
    display: none;
  }
}
