.tarif__table {
  border-collapse: collapse;
}

.tarif__head {
  background-color: $base-dark;
  padding: 24px 20px;
  border: 1px solid $special_grey;
}

.tarif__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
  padding: 0;
  margin: 0;
}

.tarif__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
  padding: 0;
  margin: 0;
}

.tarif__cell {
  padding: 24px 20px;
  border: 1px solid $special_grey;
}

.tarif__option {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $base-dark;
}
