.text-content {
  min-height: 131px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-content__wrapper {
  @include wrapper;
}

.text-content__paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $base-dark;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 30px;

  @media (min-width: $tablet-size) {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 81px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-size) {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 81px;
    margin-bottom: 61px;
  }
}

.text-content__optional {
  display: none;

  @media (min-width: $tablet-size) {
    display: inline;
  }
}
