@mixin form-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: $base-dark;
}

@mixin form-label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $base-red;
  text-transform: uppercase;
}

@mixin range-thumb {
  width: $thumb-size;
  height: $thumb-size;
  background-color: $base-white;
  border-radius: 50%;
  border: 2px solid $base-red;
}

@mixin range-track {
  height: 2px;
  background-color: $base-dark;
}
