// Цвета
$base-white: #ffffff;
$base-red: #d22856;
$base-green: #2aab6d;
$base-dark: #283645;
$base-grey: #f2f2f2;
$base-black: #000000;
$special-dark: #1d2631;
$special-grey: #e5e5e5;
$special-green: #1c9b5e;

// Из макета
$mobile-content: 280px;
$tablet-content: 620px;
$desktop-content: 940px;

// Breakpoints, критерий Б11
$mobile-size: 320px;
$tablet-size: 660px;
$desktop-size: 960px;

// Параметры range
$thumb-size: 14px;

// Минимальные размеры свернутого меню
$mobile-menu-height: 69px;
$tablet-menu-height: 109px;
$desktop-menu-height: 110px;
