// Цвета

$base-white: #ffffff;
$base-red: #d22856;
$base-green: #2aab6d;
$base-dark: #283645;
$base-grey: #f2f2f2;
$base_black: #000000;
$special-dark: #1d2631;
$special-grey: #e5e5e5;
$special-green: #1c9b5e;

// Отступ от края страницы

$page-padding: 80px;

// Параметры range

$thumb-size: 14px;
